<nav>
  <strong *ngIf="userLogged">{{userName}}</strong>
    <div class="nav-wrapper orange">
      <a routerLink="/home" class="brand-logo">Inmobiliaria</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="!userLogged"><a [routerLink]="['../app/modules/security/login']">Login</a></li>
        <li *ngIf="userLogged"><a routerLink="/security/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a  *ngIf="!userLogged" routerLink="/security/login">Sass</a></li>
    <li><a  *ngIf="userLogged" routerLink="/security/logout">Components</a></li>    
  </ul>
          